* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --primary: #21f024;
    --white: #fff;
    --black: #000;
    --red: red;
    --green: #21f024;
    --yellow: rgb(154, 154, 0);
}
